.button {
  margin-top: 20px;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  border: 1px solid black;
  border-radius: 4px;
  padding: 20px;
}
.input-name,
.input-tel {
  height: 30px;
  width: 250px;
}

.label {
  margin-bottom: 10px;
  font-size: 20px;
}
